.login {
    height: 100vh;
    display: grid;
}

.login-container {
    place-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 50%;
    border-radius: 10px;
    background-color: var(--gray);
}

form {
    width: 70%;
    height: 70%;
}

form * {
    font-weight: bold;
    font-size: large;
}

input, label {
    margin: 4px;
}

.submitbtn,
.signupalter {
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: flex-end;
}

.signupalter a {
    text-decoration: none;
    color: var(--brown)
}

input[type='submit'] {
    background-color: var(--brown);
    border: 0
}

